<ion-content [fullscreen]="true">
    <div id="contaier">
        <div class="logo background">
            <ion-img class="tamaño-logo" [src]="image.src"></ion-img>
        </div>
        <div class="plato ion-padding">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmitCorreo()">
                <h1>Registrarse</h1>
                <div class="login">
                    <ion-item class="fondo-item">
                        <ion-label class="text-green" position="floating">
                            <ion-icon name="mail-outline"></ion-icon>&nbsp; Correo</ion-label>
                        <ion-input type="email" formControlName="correo"></ion-input>
                    </ion-item>
                    <div class="error" *ngFor="let error of errorMessages.correo">
                        <ng-container *ngIf="correo.hasError(error.type) && (correo.dirty || correo.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                    <ion-item class="fondo-item">
                        <ion-label class="text-green" position="floating">
                            <ion-icon name="person-outline"></ion-icon>&nbsp; Usuario</ion-label>
                        <ion-input type="text" formControlName="usuario"></ion-input>
                    </ion-item>
                    <div class="error" *ngFor="let error of errorMessages.usuario">
                        <ng-container *ngIf="usuario.hasError(error.type) && (usuario.dirty || usuario.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                    <ion-item class="fondo-item">
                        <ion-label class="text-green" position="floating">
                            <ion-icon name="lock-closed-outline"></ion-icon> &nbsp; Contraseña</ion-label>
                        <ion-input type="password" formControlName="password"></ion-input>
                    </ion-item>
                    <div class="error" *ngFor="let error of errorMessages.password">
                        <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                    <ion-item class="fondo-item">
                        <ion-label class="text-green" position="floating">
                            <ion-icon name="lock-closed-outline"></ion-icon> &nbsp; Confirmar contraseña</ion-label>
                        <ion-input type="password" formControlName="cpassword"></ion-input>
                    </ion-item>
                    <div class="error" *ngFor="let error of errorMessages.cpassword">
                        <ng-container *ngIf="cpassword.hasError(error.type) && (cpassword.dirty || cpassword.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                </div>
                <ion-button [disabled]="!registerForm.valid" type="submit" expand="block" shape="undefined" class="boton-login">REGISTRARSE</ion-button>
            </form>
            <ion-text>
                <h6>¿Ya tienes cuenta?<em style="color:rgb(24, 161, 8)" (click)="irLogin()"> Inicia sesión</em></h6>
            </ion-text>
        </div>
    </div>
</ion-content>
<ion-footer>

</ion-footer>