.tamaño-logo {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 5% 0 15% 0;
}

.logo {
    text-align: center;
}

.fondo-item {
    margin: 5% 0 5% 0;
    --background: rgb(245, 245, 245);
    border-radius: 5px;
}

.text-green {
    color: rgb(169, 169, 169);
}

.background {
    background-image: url(../../../assets/icon/fondo.png);
    background-position: center;
    background-size: cover;
}

.plato {
    margin-top: -7%;
    border-radius: 30px 30px 30px 30px;
    border: 0px solid #000000;
    background-color: white;
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
}

.login {
    margin: 10% 0 10% 0;
}

ion-icon {
    --color: black;
}

.boton-login {
    --box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    --padding-top: 7%;
    --padding-bottom: 7%;
    margin-bottom: 12%;
}

ion-text {
    text-align: center;
}