<ion-header no-border>
  <ion-toolbar  class="color-header">
    <ion-buttons slot = "start">   
      <ion-menu-button menu="primerMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title>Administrar usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="textoCentro ion-padding">
    <h1 syle="font-size: 2em;">Usuario</h1>

    <h2 id="nombre">Nombre</h2>
    <h3 id="nombre.answer">Nombre</h3>

    
    <h2 id="apellido">Apellido</h2>
    <h3 id="apellido.answer">Apellido</h3>

    
    <h2 id="cargo">Cargo</h2>
    <h3 id="cargo.answer">Cargo</h3>

    
    <h2 id="correo">Correo</h2>
    <h3 id="correo.answer">Correo</h3>
  </div>

</ion-content>
