<ion-content>
  <div id="contaier">
    <div class="plato">
      <ion-label>
        <h1 class="titulo_principal">Costos</h1>
        <h2 class="subtitulo">Maíz</h2>
      </ion-label>
    </div>

    <div class="info">
      <div class="imagen">
        <ion-avatar class="borde">
          <img src="/resources/maiz.jpg">
        </ion-avatar>
      </div>
      <ion-label>
        <p class="titulo">Costo</p>
        <p class="descripcion">$50</p>

        <p class="titulo">Descripción</p>
        <p style="border-bottom: 50px;" class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
      </ion-label>
    </div>
  </div>
</ion-content>