<ion-content class="ion-padding fondo" [fullscreen]="true">
    <ion-app>
        <ion-menu side="start">
            <ion-header>
                <ion-toolbar class="color-header">

                    <ion-title>Menú</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-item>
                        <ion-icon name="home" slot="start"></ion-icon>
                        <ion-label>Inicio</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="card" slot="start"></ion-icon>
                        <ion-label>Administrar almacén</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="leaf" slot="start"></ion-icon>
                        <ion-label>Administrar cosechas</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="person" slot="start"></ion-icon>
                        <ion-label>Administrar usuarios</ion-label>
                    </ion-item>
                    <hr>
                    <ion-item>
                        <ion-icon name="alarm" slot="start"></ion-icon>
                        <ion-label>Alarmas</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="calendar" slot="start"></ion-icon>
                        <ion-label>Calendario actividades</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="cash" slot="start"></ion-icon>
                        <ion-label>Costos</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="flask" slot="start"></ion-icon>
                        <ion-label>Fertilizaciones</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="eyedrop" slot="start"></ion-icon>
                        <ion-label>Fertilizantes</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="map" slot="start"></ion-icon>
                        <ion-label>Mapa</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="bug" slot="start"></ion-icon>
                        <ion-label>Historial de plagas</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="warning" slot="start"></ion-icon>
                        <ion-label>Insecticidas</ion-label>
                    </ion-item>
                    <hr>
                    <ion-item>
                        <ion-icon name="exit" slot="start"></ion-icon>
                        <ion-label>Cerrar sesión</ion-label>
                    </ion-item>

                </ion-list>
            </ion-content>
        </ion-menu>

        <div class="ion-page" main>
            <ion-header>
                <ion-toolbar class="color-header">
                    <ion-buttons slot="start">
                        <ion-menu-button></ion-menu-button>
                    </ion-buttons>
                    <!--<ion-thumbnail slot="start">
                        <ion-img src="..\assets\icon\logo.png"></ion-img>
                    </ion-thumbnail>-->


                    <ion-title>SASPRE</ion-title>
                </ion-toolbar>
                <div class="textoCentro ion-padding">
                    <h1 style="font-size: 4em;">El Mante</h1>
                    <h2 id="grados">33°C</h2>
                    <h2 id="fecha">Jueves 06 de marzo de 2020</h2>
                    <h2 id="clima">Parcialmente nuboso, probabilidad de lluvias</h2>

                </div>

                <div class="ion-padding textoCentro cajas-dias">
                    <div>
                        <ion-item class="container">
                            <ion-label>Hoy</ion-label>
                            <ion-label>Hoy</ion-label>
                            <ion-label>Hoy</ion-label>
                        </ion-item>
                    </div>
                </div>
            </ion-header>
        </div>
    </ion-app>

</ion-content>