<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu principal</ion-title>
    </ion-toolbar>
</ion-header>


<div class="relative">
    <ion-infinite-scroll>
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            <div class="textoCentro ion-padding">
                <h1 style="font-size: 4em;">El Mante</h1>
                <h2 id="grados">33°C</h2>
                <h2 id="fecha">Jueves 06 de marzo de 2020</h2>
                <h2 id="clima">Parcialmente nuboso, probabilidad de lluvias</h2>

            </div>
            <ion-button>Hola</ion-button>
            <div class="ion-padding textoCentro cajas-dias">
                <div>
                    <ion-item class="container">
                        <ion-label>Hoy</ion-label>
                        <ion-label>Hoy</ion-label>
                        <ion-label>Hoy</ion-label>
                    </ion-item>
                </div>
            </div>
            <div class="ion-padding textoCentro cajas-dias">
                <div>
                    <ion-item class="container">
                        <ion-label>Hoy</ion-label>
                        <ion-label>Hoy</ion-label>
                        <ion-label>Hoy</ion-label>
                    </ion-item>
                </div>
            </div>
            <div class="ion-padding textoCentro cajas-dias">
                <div>
                    <ion-item class="container">
                        <ion-label>Hoy</ion-label>
                        <ion-label>Hoy</ion-label>
                        <ion-label>Hoy</ion-label>
                    </ion-item>
                </div>
            </div>
            <div class="ion-padding textoCentro cajas-dias">
                <div>
                    <ion-item class="container">
                        <ion-label>Hoy</ion-label>
                        <ion-label>Hoy</ion-label>
                        <ion-label>Hoy</ion-label>
                    </ion-item>
                </div>
            </div>
            <div class="ion-padding textoCentro cajas-dias">
                <div>
                    <ion-item class="container">
                        <ion-label>Hoy</ion-label>
                        <ion-label>Hoy</ion-label>
                        <ion-label>Hoy</ion-label>
                    </ion-item>
                </div>
            </div>
            <div class="ion-padding textoCentro cajas-dias">
                <div>
                    <ion-item class="container">
                        <ion-label>Hoy</ion-label>
                        <ion-label>Hoy</ion-label>
                        <ion-label>Hoy</ion-label>
                    </ion-item>
                </div>
            </div>
            <ion-button>dsad </ion-button>
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</div>