<ion-content class="ion-padding">
    <div class="degradado">
        <div class="header">
            <ion-buttons slot="start">
                <ion-menu-button menu="primerMenu"></ion-menu-button>
                <ion-title style="font-weight: 500;">SASPRE</ion-title>
            </ion-buttons>
        </div>

        <div class="textoCentro ion-padding">
            <h4 style="font-weight: bold;">{{ciudad}}</h4>
            <p style="color: rgb(240,240,240)">{{date.toDateString()}} {{date.toLocaleTimeString()}}</p>
            <ion-img class="tamaño-logo" [src]="logoIcono.src"></ion-img>
            <h1 id="grados" style="font-size:500%;">{{temperatura}}°</h1>
            <h4>{{temperaturaMax}}°/{{temperaturaMin}}° Sensación de {{sensacion}}°</h4>
            <h4 style="font-weight: bold;">{{descripcion|titlecase}}</h4>
        </div>
    </div>

</ion-content>