<ion-content>
    <div class="background">
        <ion-grid>
            <ion-row>
                <ion-col size="4">
                    <ion-buttons class="boton" (click)="salirSinArgumentos()">
                        <ion-back-button defaultHref="administrar-cultivos"></ion-back-button>
                    </ion-buttons>
                </ion-col>
                <ion-col size="4">
                    <ion-label>
                        <p class="titulo_principal">Editar cultivo</p>
                    </ion-label>
                </ion-col>
                <ion-col size="4">
                    <ion-buttons class="boton" style="padding-top: 5px;" (click)="onSubmitCultivos()">
                        <ion-button>Guardar</ion-button>
                    </ion-buttons>
                </ion-col>

            </ion-row>

        </ion-grid>
    </div>

    <div class="plato">


        <ion-label>
            <p class="titulo_">Edite la siguiente información para continuar</p>
        </ion-label>

        <div class="imagen">
            <ion-avatar class="borde">
                <img src="/resources/maiz.jpg">
            </ion-avatar>
        </div>

        <ion-label>
            <p class="titulo">Semilla</p>
        </ion-label>

        <ion-select [(ngModel)]="cultivos.idSemillas" class="subtitulo" value="1" placeholder="Selecciona una semilla">
            <ion-select-option *ngFor="let item of arraySemillas" [value]="item.idSemillas">{{item.nombreSemilla}}</ion-select-option>
        </ion-select>

        <ion-label>
            <p class="titulo">Fecha de cultivo</p>
        </ion-label>
        <ion-datetime [(ngModel)]="cultivos.fechaPlantado" placeholder="Seleccione la fecha de cultivo "></ion-datetime>

        <ion-label>
            <p class="titulo">Fecha de cosecha</p>
        </ion-label>
        <ion-datetime [(ngModel)]="cultivos.fechaCosechado" placeholder="Seleccione la fecha tentativa de cosecha "></ion-datetime>

        <ion-label>
            <p class="titulo">Cantidad</p>
        </ion-label>
        <ion-input [(ngModel)]="cultivos.cantidad" class="subtitulo" type="text" placeholder="Ingrese la cantidad"></ion-input>

        <ion-label>
            <p class="titulo">Estado</p>
        </ion-label>
        <ion-input [(ngModel)]="cultivos.estado" class="subtitulo" type="text" placeholder="Ingrese el estado"></ion-input>

        <ion-label>
            <p class="titulo">Cosechado</p>
        </ion-label>
        <ion-select [(ngModel)]="cultivos.cosechado" class="subtitulo" value="Seleccione si o no">
            <ion-select-option value="1">Si</ion-select-option>
            <ion-select-option value="0">No</ion-select-option>
        </ion-select>

    </div>

</ion-content>