<ion-header no-border>
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-menu-button menu="primerMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Alarmas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="textoCentro form-group">
    <ion-item>
      <ion-label>Nombre alarma</ion-label>
    </ion-item>
    <hr>
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-label>Nombre</ion-label>
      </ion-item>
      <hr>
      <ion-item>
        <ion-label>N° días</ion-label>
        <ion-label>N° días</ion-label>
      </ion-item>
      <hr>
      <ion-item>
        <ion-label>Cultivo</ion-label>
        <ion-label>Cultivo</ion-label>
      </ion-item>
      <hr>
      <ion-item>
        <ion-label>Temperatura</ion-label>
        <ion-label>Minima</ion-label>
        <ion-label>Minima</ion-label>
        <hr>
        <ion-label>Maxima</ion-label>
        <ion-label>Maxima</ion-label>
      </ion-item>
      <hr>
  </div>
</ion-content>