.titulo{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.nombre{
    text-align: center;
}

.subtitulos{
    font-size: 16px;
    text-align: center;
}

.contenido{
    font-size: 12px;
    text-align: justify;
}

