.color-header {
    --background: rgb(255, 255, 255);
    --color: rgb(24, 161, 8);
    text-align: center;
  }
  
  .label1 {
    color: rgb(139, 139, 139);
    font-size: 18px;
    font-weight: bold;
  }
  
  .label2 {
    color: rgb(139, 139, 139);
    font-size: 12px;
  }
  
  .label3 {
    font-size: 10px;
  }