<ion-card class="card">

  <ion-card-header>
    <ion-card-title class="titulo">Cosecha</ion-card-title>
    <ion-card-subtitle class="nombre">Nombre</ion-card-subtitle>
  </ion-card-header>


  <ion-grid>
    <ion-row class="ion-align-items-center">
      
      <ion-col size="4">
      </ion-col>

      <ion-col size="4">
        <ion-avatar>
          <img src="/assets/shapes.svg">
        </ion-avatar>
      </ion-col>

      <ion-col size="4">
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-card-header>
    <ion-card-subtitle class="nombre">Cantidad:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="nombre">
     50
  </ion-card-content>

  <ion-card-header>
    <ion-card-subtitle class="nombre">Usuario:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="contenido">
    Andre Ibarra Perez
  </ion-card-content>

  <ion-card-header>
    <ion-card-subtitle class="nombre">Fecha cultivo:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="contenido">
    26 de abril de 2020
  </ion-card-content>

  <ion-card-header>
    <ion-card-subtitle class="nombre">Fecha de cosecha:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="contenido">
    24 de diceimbre de 2020
  </ion-card-content>
</ion-card>