<ion-card class="card">

  <ion-card-header>
    <ion-card-title class="titulo">Cultivo</ion-card-title>
    <ion-card-subtitle class="nombre">Nombre</ion-card-subtitle>
  </ion-card-header>


  <ion-grid>
    <ion-row class="ion-align-items-center">
      
      <ion-col size="4">
      </ion-col>

      <ion-col size="4">
        <ion-avatar>
          <img src="/assets/shapes.svg">
        </ion-avatar>
      </ion-col>

      <ion-col size="4">
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-card-header>
    <ion-card-subtitle class="nombre">Plaga encontrada:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="nombre">
     Gusano muy quemador
  </ion-card-content>
  <hr>

  <ion-card-header>
    <ion-card-subtitle class="nombre">Fecha calculada:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="contenido">
    26 de Abril del 2020
  </ion-card-content>

</ion-card>