<ion-content>
    <div id="container2">

        <div class="plato">
            <ion-label>
                <h1 class="titulo_principal">Fertilizante</h1>
                <h2 class="subtitulo">{{fertilizante.nombreFertilizante}}</h2>
            </ion-label>
        </div>

        <div class="info">
            <ion-label>
                <p class="titulo">Dosis:</p>
                <p class="descripcion">{{fertilizante.dosis}}</p>

                <p class="titulo">Descripción:</p>
                <p class="descripcion">{{fertilizante.descripcionAplicacion}}</p>
            </ion-label>
        </div>

    </div>
</ion-content>