<ion-content>
  <div id="container2">

    <div class="plato">
      <ion-label>
        <h1 class="titulo_principal">Fertilizante</h1>
        <h2 class="subtitulo">Urea - nitrato amónico</h2>
      </ion-label>
    </div>

    <div class="info">
      <ion-label>
        <p class="titulo">Dosis:</p>
        <p class="descripcion">1 litro por hectarea</p>

        <p class="titulo">Descripción:</p>
        <p class="descripcion">Es un fertilizante muy fuerte por favor, usese con cuidado.</p>
      </ion-label>
    </div>

  </div>
</ion-content>