<ion-header no-border>
    <ion-toolbar class="color-header">
        <ion-buttons slot="start">
            <ion-menu-button menu="primerMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Insecticidas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="clickFab()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-toolbar>
        <ion-searchbar placeholder="Buscar" animated (ionChange)="buscar($event)"></ion-searchbar>
    </ion-toolbar>

    <ion-refresher slot="fixed" (ionRefresh)="refreshInsecticidas($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Desliza para actualizar" refreshingSpinner="circles" refreshingText="Actualizando...">

        </ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item *ngFor="let item of arrayInsecticidas">
            <ion-grid (click)="mostrarPopInfo(item)">
                <ion-row>
                    <ion-col>
                        <div>
                            <ion-label>
                                <p class="label1">{{item.nombreInsecticida}}</p>
                                <p class="label2">Precio: ${{item.precio}}</p>
                            </ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-buttons slot="end">
                <ion-button (click)="mostrarPop( $event,item )">
                    <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
    </ion-list>


</ion-content>