<ion-header no-border>
    <ion-toolbar class="color-header">
        <ion-buttons slot="start">
            <ion-menu-button menu="primerMenu"></ion-menu-button>
        </ion-buttons>

        <ion-title>Administrar almacen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="textoCentro ion-padding">
        <h1 syle="font-size: 2em;">Nombre almacen</h1>

        <h2 id="usuario">Usuario</h2>
        <h3 id="user.answer">Usuario</h3>


        <h2 id="tipo-objeto">Tipo de objeto</h2>
        <h3 id="tipo-objeto.answer">Usuario</h3>


        <h2 id="nombre-objeto">Nombre del objeto</h2>
        <h3 id="nombre-objeto.answer">Nombre del objeto</h3>


        <h2 id="tipo-simebra">Tipo de siembra</h2>
        <h3 id="tipo-siembra.answer">Tipo de siembra</h3>


        <h2 id="precio">Precio</h2>
        <h3 id="precio.answer">Precio</h3>


        <h2 id="cantidad-objeto">Cantidad de objeto</h2>
        <h3 id="cantidad-objeto.answer">Cantidad de objeto</h3>


        <h2 id="fecha-ingreso">Fecha de ingreso</h2>
        <h3 id="fecha-ingreso.answer">Fecha de ingreso</h3>
    </div>

</ion-content>