<ion-content>
    <div id="contaier">
        <div class="plato">
            <ion-label>
                <h1 class="titulo_principal">Actividad</h1>
                <h2 class="subtitulo">{{actividad.nombreActividad}}</h2>
            </ion-label>
        </div>

        <div class="info">
            <ion-label>
                <p class="titulo">Descripción</p>
                <p class="descripcion">{{actividad.descripcion}}</p>

                <p class="titulo">Fecha Inicio</p>
                <p class="descripcion">{{actividad.fechaInicio}}</p>

                <p class="titulo">Fecha Fin</p>
                <p style="border-bottom: 50px;" class="descripcion">{{actividad.fechaFin}}</p>
            </ion-label>
        </div>
    </div>
</ion-content>