<ion-content>
  <div id="contaier">
    <div class="plato">
      <ion-label>
        <h1 class="titulo_principal">Actividad</h1>
        <h2 class="subtitulo">Actividad ejemplo</h2>
      </ion-label>
    </div>

    <div class="info">
      <ion-label>
        <p class="titulo">Descripción</p>
        <p class="descripcion">tenemos que regar los cultivos de la zona A a la B</p>

        <p class="titulo">Temperatura minima</p>
        <p class="descripcion">25 de abril de 2020</p>

        <p class="titulo">Temperatura máxima</p>
        <p style="border-bottom: 50px;" class="descripcion">25 de junio de 2020</p>
      </ion-label>
    </div>
  </div>
</ion-content>