.plato {
    margin-top: -7%;
    border-radius: 30px 30px 30px 30px;
    border: 0px solid #000000;
    background-color: white;
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
}


.error-message {
    color: var(--ion-color-danger);
}
.background {
    background-color: rgb(24, 161, 8);
    padding-bottom: 10%;
}

.titulo_principal {
    padding-top: 40px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.boton {
    color: white;
}

ion-icon {
    --color: rgb(255, 255, 255);
}

.titulo_ {
    color: black;
    text-align: center;
    font-size: 15px;
}

.titulo {
    color: black;
    font-size: 13px;
    margin-top: 10px;
}

.subtitulo {
    font-size: 11px;
    border: 2px;
    border: solid 1px rgb(134, 134, 134);
    border-radius: 10px;
}

.imagen {
    display: flex;
    justify-content: center;
    
    
}