<ion-card class="card">

  <ion-card-header>
    <ion-card-title class="titulo">Usuario</ion-card-title>
    <ion-card-subtitle class="nombre">Cramptonrage</ion-card-subtitle>
  </ion-card-header>


  <ion-grid>
    <ion-row class="ion-align-items-center">
      
      <ion-col size="4">
      </ion-col>

      <ion-col size="4">
        <ion-avatar>
          <img src="/assets/shapes.svg">
        </ion-avatar>
      </ion-col>

      <ion-col size="4">
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-card-header>
    <ion-card-subtitle class="nombre">Nombre:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="nombre">
     Oscar Rodriguez Ochoa
  </ion-card-content>

  <ion-card-header>
    <ion-card-subtitle class="nombre">Correo:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="contenido">
    Arodriguez.ochoa...@gmail.com
  </ion-card-content>

  <ion-card-header>
    <ion-card-subtitle class="nombre">Cargo:</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="contenido">
    Usuario
  </ion-card-content>

</ion-card>