<ion-content>
  <div class="background">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-buttons class="boton" (click)="salirSinArgumentos()">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="4">
          <ion-label>
            <p class="titulo_principal">Crear alarma</p>
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-buttons class="boton" style="padding-top: 5px;" (click)="salirConArgumentos()">
            <ion-button>Agregar</ion-button>
          </ion-buttons>
        </ion-col>

      </ion-row>

    </ion-grid>
  </div>

  <div class="plato">
    <ion-label>
      <p class="titulo_">Ingrese la siguiente información para continuar</p>
    </ion-label>

    <div class="imagen">
      <ion-avatar class="borde">
        <img src="/resources/maiz.jpg">
      </ion-avatar>
    </div>

    <ion-label>
      <p class="titulo">Semilla</p>
    </ion-label>

    <ion-select class="subtitulo" value="Seleccione una semilla">
      <ion-select-option value="cat">Semilla 1</ion-select-option>
      <ion-select-option value="dog">Semilla 2 </ion-select-option>
    </ion-select>

    <ion-label>
      <p class="titulo">Nombre</p>
    </ion-label>
    <ion-input class="subtitulo" type="number" placeholder="Ingrese el nombre del cultivo"></ion-input>

    <ion-label>
      <p class="titulo">Descripción</p>
    </ion-label>
    <ion-input class="subtitulo" type="text" placeholder="Ingrese una descripción para la alarma"></ion-input>

    <ion-label>
      <p class="titulo">Lapso de días</p>
    </ion-label>

    <ion-select class="subtitulo" value="Selecione el lapso de días">
      <ion-select-option value="cat">Semilla 1</ion-select-option>
      <ion-select-option value="dog">Semilla 2 </ion-select-option>
    </ion-select>

    <ion-grid>
      <ion-row>

        <ion-col size="6">
          <ion-label>
            <p class="titulo">Temperatura mínima</p>
          </ion-label>
          <ion-input class="subtitulo" type="text" placeholder="Ingrese temperatura"></ion-input>

        </ion-col>

        <ion-col size="6">
          <ion-label>
            <p class="titulo">Temperatura máxima</p>
          </ion-label>
          <ion-input class="subtitulo" type="text" placeholder="Ingrese temperatura"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>


  <!-- 
  <ion-button color="primary" expand="full">
    Salir sin argumentos
  </ion-button>


  <ion-button color="secondary" expand="full">
    Salir con argumentos
  </ion-button>
 -->

</ion-content>