<ion-content>
  <div class="background">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-buttons class="boton" (click)="salirSinArgumentos()">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="4">
          <ion-label>
            <p class="titulo_principal">Editar actividad</p>
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-buttons class="boton" style="padding-top: 5px;" (click)="salirConArgumentos()">
            <ion-button>Agregar</ion-button>
          </ion-buttons>
        </ion-col>

      </ion-row>

    </ion-grid>
  </div>

  <div class="plato">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmitAlarmas()">
    <ion-label>
      <p class="titulo_">Edite la siguiente información para continuar</p>
    </ion-label>

    <ion-label>
      <p class="titulo">Nombre de la actividad</p>
    </ion-label>
    <ion-input formControlName="actividadNombre" class="subtitulo" type="text" placeholder="Ingrese nombre de de la actividad"></ion-input>
    <div class="error" *ngFor="let error of errorMessages.actividadNombre">
      <ng-container *ngIf="actividadNombre.hasError(error.type) && (actividadNombre.dirty || actividadNombre.touched)">
          <small class="error-message">{{error.message}}</small>
      </ng-container>
     </div>

    <ion-label>
      <p class="titulo">Descripcion</p>
    </ion-label>
    <ion-input formControlName="actividadDescripcion" class="subtitulo" type="text" placeholder="Ingrese descripción de la actividad"></ion-input>
    <div class="error" *ngFor="let error of errorMessages.actividadDescripcion">
      <ng-container *ngIf="actividadDescripcion.hasError(error.type) && (actividadDescripcion.dirty || actividadDescripcion.touched)">
          <small class="error-message">{{error.message}}</small>
      </ng-container>
     </div>

    <ion-label>
      <p class="titulo">Fecha de inicio</p>
    </ion-label>
    <ion-datetime  value="{{fechainicio}}" placeholder="Seleccione la fecha de inicio de la actividad "></ion-datetime>

    <ion-label>
      <p class="titulo">Fecha de fin</p>
    </ion-label>
    <ion-datetime value="1990-02-19" placeholder="Seleccione la fecha de fin de la actividad "></ion-datetime>

  </form>
  </div>


  <!-- 
  <ion-button color="primary" expand="full">
    Salir sin argumentos
  </ion-button>


  <ion-button color="secondary" expand="full">
    Salir con argumentos
  </ion-button>
 -->

</ion-content>