<ion-content>
    <div class="background">
        <ion-grid>
            <ion-row>
                <ion-col size="4">
                    <ion-buttons class="boton" (click)="salirSinArgumentos()">
                        <ion-back-button defaultHref="administrar-cultivos"></ion-back-button>
                    </ion-buttons>
                </ion-col>
                <ion-col size="4">
                    <ion-label>
                        <p class="titulo_principal">Agregar cultivo</p>
                    </ion-label>
                </ion-col>
                <ion-col size="4">
                    <ion-buttons class="boton" style="padding-top: 5px;" (click)="onSubmitCultivos()">
                        <ion-button>Agregar</ion-button>
                    </ion-buttons>
                </ion-col>
            </ion-row>

        </ion-grid>
    </div>

    <div class="plato">

        <ion-label>
            <p class="titulo_">Ingrese la siguiente información para continuar</p>
        </ion-label>

        <div class="imagen">
            <ion-avatar class="borde">
                <img src="/resources/maiz.jpg">
            </ion-avatar>
        </div>
        <form [formGroup]="infoForm" (ngSubmit)="onSubmitCultivos()">

            <ion-label>
                <p class="titulo">Semilla</p>
            </ion-label>

            <ion-select formControlName="idSemillas" class="subtitulo" placeholder="Selecciona una semilla">
                <ion-select-option *ngFor="let item of arraySemillas" [value]="item.idSemillas">{{item.nombreSemilla}}</ion-select-option>
            </ion-select>

            <ion-item>
                <ion-label>
                    <p class="titulo">Seleccione fecha de cultivo</p>
                </ion-label>
                <ion-datetime formControlName="fechaPlantado" placeholder="Fecha cultivo"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label>
                    <p class="titulo">Seleccione fecha de cosechado</p>
                </ion-label>
                <ion-datetime formControlName="fechaCosechado" placeholder="Fecha cosecha"></ion-datetime>
            </ion-item>

            <ion-label>
                <p class="titulo">Fecha de cosecha</p>
            </ion-label>


            <ion-label>
                <p class="titulo">Cantidad</p>
            </ion-label>
            <ion-input type="number" formControlName="cantidad" class="subtitulo" placeholder="Ingrese precio de la actividad"></ion-input>

            <div class="error" *ngFor="let error of errorMessages.cantidad">
                <ng-container *ngIf="cantidad.hasError(error.type) && (cantidad.dirty || cantidad.touched)">
                    <small class="error-message">{{error.message}}</small>
                </ng-container>
            </div>

            <ion-label>
                <p class="titulo">Estado</p>
            </ion-label>
            <ion-input type="text" formControlName="estado" class="subtitulo" placeholder="Ingrese el estado del cultivo"></ion-input>

            <div class="error" *ngFor="let error of errorMessages.estado">
                <ng-container *ngIf="estado.hasError(error.type) && (estado.dirty || estado.touched)">
                    <small class="error-message">{{error.message}}</small>
                </ng-container>
            </div>
        </form>
    </div>


    <!-- 
  <ion-button color="primary" expand="full">
    Salir sin argumentos
  </ion-button>


  <ion-button color="secondary" expand="full">
    Salir con argumentos
  </ion-button>
 -->

</ion-content>