<ion-content>
  <div class="background">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-buttons class="boton" (click)="salirSinArgumentos()">
            <ion-back-button defaultHref="fertilizantes"></ion-back-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="4">
          <ion-label>
            <p class="titulo_principal">Editar fertilizante</p>
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-buttons class="boton" style="padding-top: 5px;" (click)="onSubmitFertilizantes()">
            <ion-button>Editar</ion-button>
          </ion-buttons>
        </ion-col>

      </ion-row>

    </ion-grid>
  </div>

  <div class="plato">
    <ion-label>
      <p class="titulo_">Ingrese la siguiente información para continuar</p>
    </ion-label>

    <ion-label>
      <p class="titulo">Nombre del fertilizante</p>
    </ion-label>
    <ion-input class="subtitulo" type="text" placeholder="Ingrese nombre del fertilizante"
      [(ngModel)]="fertilizante.nombreFertilizante"
      type="text"
      name="nombreFertilizante"
      required
    >
    </ion-input>

    <ion-label>
      <p class="titulo">Dosis</p>
    </ion-label>
    <ion-input class="subtitulo" type="text" placeholder="Ingrese la dosis del fertilizante que se necesita"
    [(ngModel)]="fertilizante.dosis"
    type="text"
    name="dosis"
    required
    ></ion-input>

    <ion-label>
      <p class="titulo">Descripción</p>
    </ion-label>
    <ion-input class="subtitulo" type="text" placeholder="Ingrese la dosis del fertilizante que se necesita"
    [(ngModel)]="fertilizante.descripcionAplicacion"
    type="text"
    name="descripcionAplicacion"
    required
    ></ion-input>


  </div>


 

  <!-- 
  <ion-button color="primary" expand="full">
    Salir sin argumentos
  </ion-button>


  <ion-button color="secondary" expand="full">
    Salir con argumentos
  </ion-button>
 -->

</ion-content>