<ion-content>
  <div class="background">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-buttons class="boton" (click)="salirSinArgumentos()">
            <ion-back-button defaultHref="/fertilizantes"></ion-back-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="4">
          <ion-label>
            <p class="titulo_principal">Editar fertilizante</p>
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-buttons class="boton" style="padding-top: 5px;" (click)="onSubmitFertilizantes()">
            <ion-button>Editar</ion-button>
          </ion-buttons>
        </ion-col>

      </ion-row>

    </ion-grid>
  </div>

  <div class="plato">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmitFertilizantes()">

    <ion-label>
      <p class="titulo_">Ingrese la siguiente información para continuar</p>
    </ion-label>

    <ion-label>
      <p class="titulo">Nombre del fertilizante</p>
    </ion-label>
    <ion-input  formControlName="nombreFertilizante" class="subtitulo" type="text" placeholder="Ingrese nombre del fertilizante">
    </ion-input>

    <div class="error" *ngFor="let error of errorMessages.nombreFertilizante">
      <ng-container *ngIf="nombreFertilizante.hasError(error.type) && (nombreFertilizante.dirty || nombreFertilizante.touched)">
          <small class="error-message">{{error.message}}</small>
      </ng-container>
     </div>

    <ion-label>
      <p class="titulo">Dosis</p>
    </ion-label>
    <ion-input formControlName="dosis" class="subtitulo" type="text" placeholder="Ingrese la dosis del fertilizante que se necesita">
    </ion-input>

    <div class="error" *ngFor="let error of errorMessages.dosis">
      <ng-container *ngIf="dosis.hasError(error.type) && (dosis.dirty || dosis.touched)">
          <small class="error-message">{{error.message}}</small>
      </ng-container>
     </div>

    <ion-label>
      <p class="titulo">Descripción</p>
    </ion-label>
    <ion-input formControlName="descripcionAplicacion" class="subtitulo" type="text" placeholder="Ingrese una descripcion del fertilizante">      
    </ion-input>

    <div class="error" *ngFor="let error of errorMessages.descripcionAplicacion">
      <ng-container *ngIf="descripcionAplicacion.hasError(error.type) && (descripcionAplicacion.dirty || descripcionAplicacion.touched)">
          <small class="error-message">{{error.message}}</small>
      </ng-container>
     </div>

    </form>
  </div>
</ion-content>