.color-header {
    --background: rgb(138, 195, 51);
    --color: white;
    text-align: center;
}

.my-custom-menu {
    --width: 500px;
}

.textoCentro {
    text-align: center;
    color: black;
}

ion-item:hover {
    --background: green;
    color: white;
    --ion-icon-color: red;
}

ion-item:hover ion-icon {
    color: white;
}

.sk-image {
    width: 12%;
    display: inline-block;
    margin-left: 5%;
}

.sk-title {
    display: inline-block;
    font-size: 130%;
    font-weight: 600;
    color: white;
}