<ion-content>
    <div class="background">
        <ion-grid>
            <ion-row>
                <ion-col size="4">
                    <ion-buttons class="boton" (click)="salirSinArgumentos()">
                        <ion-back-button defaultHref="insecticidas"></ion-back-button>
                    </ion-buttons>
                </ion-col>
                <ion-col size="4">
                    <ion-label>
                        <p class="titulo_principal">Editar insecticida</p>
                    </ion-label>
                </ion-col>
                <ion-col size="4">
                    <ion-buttons class="boton" style="padding-top: 5px;" (click)="onSubmitInsecticida()">
                        <ion-button>Guardar</ion-button>
                    </ion-buttons>
                </ion-col>

            </ion-row>

        </ion-grid>
    </div>

    <div class="plato">
        <ion-label>
            <p class="titulo_">Edite la siguiente información para continuar</p>
        </ion-label>


        <ion-label>
            <p class="titulo">Nombre del insecticida</p>
        </ion-label>
        <ion-input [(ngModel)]="insecticidas.nombreInsecticida" class="subtitulo" type="text" placeholder="Ingrese nombre del insecticida"></ion-input>

        <ion-label>
            <p class="titulo">Precio</p>
        </ion-label>
        <ion-input [(ngModel)]="insecticidas.precio" class="subtitulo" type="text" placeholder="Ingrese el precio del insecticida"></ion-input>

        <ion-label>
            <p class="titulo">Descripción</p>
        </ion-label>
        <ion-input [(ngModel)]="insecticidas.descripcion" class="subtitulo" placeholder="Ingrese descripción del insecticida"></ion-input>


    </div>

</ion-content>