<ion-content>
    <div id="container2">

        <div class="plato">
            <ion-label>
                <h1 class="titulo_principal">Cultivo</h1>
                <h2 class="subtitulo">{{fertilizacion.nombreSemilla}}</h2>
            </ion-label>
        </div>

        <div class="info">

            <div class="imagen">
                <ion-avatar class="borde">
                    <img src="/resources/maiz.jpg">
                </ion-avatar>
            </div>

            <ion-label>
                <p class="titulo">Fertilizante:</p>
                <p class="descripcion">{{fertilizacion.nombreFertilizante}}</p>

                <p class="titulo">Usuario</p>
                <p class="descripcion">{{fertilizacion.nickname}}</p>

                <p class="titulo">Fecha de realizar:</p>
                <p class="descripcion">{{fertilizacion.fecha}}</p>
            </ion-label>

        </div>

    </div>
</ion-content>